
<div class="header">
  <div class="page-header">
    <h1 class="page-title">Dashboard</h1>
  </div>
  <div class="setting">
    <a mat-button class="link-btn">
      <mat-icon>add</mat-icon>
      Add Job
    </a>
    <button mat-icon-button>
      <img src="/assets/images/notification.png">
    </button>
    <div class="user">
      <div class="user-section">
        <h3 class="username">Kasendra Smith</h3>
        <a class="link">Admin - View Profile</a>
      </div>
      <img mat-icon-button class="" matBadge="+" matBadgePosition="before" matBadgeColor="accent" src="/assets/images/user.png">
    </div>
  </div>
</div>
