<div class="message-center">
    <div class="message-lists">
        <div class="messages">
            <img src="/assets/images/user.png" alt="profile pic">
            <div class="message-details">
                <h1>Memorial Herman Hos...</h1>
                <p>Hi, I would like to know ...</p>
                <span>2:17 PM</span>
            </div>
            <div class="operations">
                <mat-icon>more_vert</mat-icon>
            </div>
        </div>
    </div>
    <div class="message-view">
        <div class="joblist">
            <div class="list">
                <div class="left-side-details">
                    <span class="job-title">Clinical Nurse Specialist (CNS)</span>
                    <span class="job-address">Sacramento, CA 35035</span>
                    <span class="job-duration">Mar 23 - Mar 24</span>
                </div>
                <div class="right-side-details">
                    <span class="job-code">Job# 65945435</span>
                    <a href="javascript:void(0)" class="view-job-more-details">View Details</a>
                </div>
            </div>
            <div class="separator"></div>
        </div>
    </div>
</div>
