.card-container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  justify-content: space-evenly;
  align-items: center;
  grid-gap: 20px;
}
.welcome-card{
  grid-column: span 4;
}

.normal-card{
  grid-column: span 2;
}

.card{
  box-shadow: 0px 0px 7px #ececec;
  border: 0 !important;
}

.tile-lg-title{
  margin-bottom: 0px !important;
  font-size: 2.3rem;
  font-weight: 550;
}

.tile-lg-content{
  color: #FFF !important;
  margin: 10px 0px;
  font-size: 20px;
}
.info-card{
  padding: 10px 20px !important;
  .title-section{
    display: flex;
    justify-content: space-between;
    .title{
      font-size: 24px;
      color: #1d066b;
      margin: 0% !important;
    }
    .d-flex{
      align-items: center !important;
      .link{
        text-decoration: none !important;
        white-space: nowrap !important;
        cursor: pointer;
      }
      img{
        height: 30px;
        width: 25px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
  .info-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 7px;
    .specialty{
      margin: 0% !important;
      font-size: 18px;
    }
    .address{
      color: grey;
      margin: 0px;
    }
  }
  .date-time-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .date{
      font-size: 24px;
      color: #1d066b;
      margin: 0px;
    }
    .time{
      font-size: 18px;
      margin: 0px;
    }
  }
}

.data-header{
  display: flex !important;
  align-items: center !important;
  padding: 15px 0px;
  .page-title{
    margin: 0px !important;
    font-size: 28px;
  }
  .primary-link{
    margin-left: 20px;
    font-size: 20px !important;
    color: #44B9A7;
    cursor: pointer;
  }
}

.data-body{
  max-height: 40vh;
  overflow: auto;
}


.data-body::-webkit-scrollbar{
  width: 10px;
}

.data-body::-webkit-scrollbar-thumb{
  width: 5px;
  background-color: #F6F6F6;
  border-radius: 5px;
}


@media only screen and (max-width: 520px) {
  .welcome-card{
    grid-column: span 10 !important;
  }

  .normal-card{
    grid-column: span 10 !important;
  }
}


.main-section{
  height: 100%;
  overflow-y: auto;
}
