<div class="navbar">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['dashboard']" >Dashboard</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['dashboard']" >Jobs</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['messagecenter]" >Massage Center</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['dashboard']" >Status Preferences</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['dashboard']" >Payment</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['dashboard']" >Account</a>
    </mat-list-item>
  </mat-list>
</div>
