<div class="navbar">
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['home']" >Dashboard</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['home']" >Jobs</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['messagecenter']" >Massage Center</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['home']" >Status Preferences</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['home']" >Payment</a>
    </mat-list-item>
    <mat-list-item role="listitem">
      <a class="nav-link" [routerLink]="['home']" >Account</a>
    </mat-list-item>
  </mat-list>
</div>
