.navbar{
  height: auto;
  width: 100%;
  padding: 0px 15px;
  mat-list{
    width: 100%;
    mat-list-item{
      width: 100%;
      cursor: pointer;
    }
  }
}

mat-list-item:hover{
  background-color: #1d066b;
  color: #FFF;
  border-radius: 10px;
}

mat-list-item:active{
  background-color: #1d066b;
  color: #FFF;
  border-radius: 10px;
}
