.sidebar{
  height: auto;
  height: calc(100vh - 48px) !important;
  width: 300px;
  max-width: 370px;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  justify-content: space-between;
  border-radius: 24px;
  .nav-links{
    width: 100%;
    height: auto;
    .logo{
      width: 100%;
      padding: 40px 0px 20px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 70%;
        max-width: 100%;
        margin: 0px !important;
      }
    }
  }
  .nav-footer{
    border-top: 2px solid #F6F6F6;
    padding: 10px;
    button{
      width: 100%;
    }
  }
}

@media screen and (max-width:1524px){
  .sidebar{
    height: 100% !important;
    border-radius: 0% !important;
    width: 100% !important;
  }
}
