.file-upload{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 12px;
  border: 1px solid #d2d2d2;
  background-color: #FFF;
  margin-bottom: 14px;
  label{
    font-size: 1rem;
    font-weight: light;
    color: #B8A59D;
    white-space: nowrap;
    width: fit-content;
  }
  .input-icon{
    font-size: 1.8rem !important;
    z-index: 1200;
    height: 100%;
    color: #1d066b;
    width: 100%;
    text-align: right;
  }
}
