.grid{
  width: 100%;
  height: 100%;
  padding: 0px !important;
  margin: 0px !important;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  .grid-header{
    width: 100%;
    height: auto;
    display: flex;
    padding: 10px;
    border: 2px solid #FFF;
  }
  .grid-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: calc(100vh - 100px) !important;
    overflow: auto;
    .grid-row{
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px;
      background-color: #F8F8F8;
      border: 1px solid #d2d2d2;
      border-radius: 20px;
      margin-bottom: 10px;
    }
  }
}

.grid-menu{
  font-size: 1rem !important;
  font-weight: normal !important;
  width: 100%;
  padding: 2px 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sort{
  width: 80% !important;
}

.cancled{
  background-color: #E50D0F !important;
}

.completed{
  background-color: #1564F2 !important;
}

.paused{
  background-color: #B01CBF !important;
}

.active{
  background-color: #5BC732 !important;
}

.pending{
  background-color: #F79202 !important;
  color: #FFF;
}

.grid-details{
  width: 86% !important;
  display: flex;
  align-items: center;
  .grid-column{
    width: 20%;
  }
}

.btn-img{
  height: 20px;
  margin-left: 10px;
}

.icon-btn-wrapper{
  width: 14%;
  display: flex;
  align-items: center;
  button{
    img{
      height: 20px;
    }
  }
}

.w-100{
  width: 400px !important;
}

.w-10{
  width: 10% !important;
}

.w-20{
  width: 20% !important;
}

.w-30{
  width: 30% !important;
}

.w-40{
  width: 40% !important;
}

.w-50{
  width: 50% !important;
}
