<div class="container-fluid">
  <table class="grid">
    <thead>
      <tr>
        <th *ngFor="let col of columns" [ngClass]="{'w-100':(col == 'Facility Name')}">{{ col }}</th>
        <th *ngIf="IsActionEnable"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let item of row.columns" [ngClass]="{'w-100':(item.columnkey == 'Facility Name')}">
          {{ item.value }}
        </td>
        <td *ngIf="IsActionEnable">
          <button mat-icon-button *ngIf="row.isViewEnable">
            <img src="/assets/images/eye.png">
          </button>
          <button mat-icon-button *ngIf="row.isEditable">
            <img src="/assets/images/edit.png">
          </button>
          <button mat-icon-button *ngIf="row.isDuplicatable">
            <img src="/assets/images/copy.png">
          </button>
          <button mat-icon-button *ngIf="row.isDeletable">
            <img src="/assets/images/dlt.png">
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
