<div class="auth-container">
  <div class="auth-header">
    <img src="/assets/images/logo.jpg" class="logo">
  </div>
  <div class="form-container">
    <div class="form-desc">
      <h2 class="form-title">Personal Info</h2>
    </div>
    <form class="form" (ngSubmit)="submit()">
    <mat-form-field appearance="outline">
      <mat-label>Specialization</mat-label>
      <mat-select  required>
        <mat-option>Specializatio</mat-option>
        <mat-option>Valid option</mat-option>
        <mat-option>Invalid option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input type="text" matInput placeholder="Desired Hourly Rate">
    </mat-form-field>
    <file-uploader [label]="'Upload Certificate'" [iconName]="'add_circle'" (fileUrl)="onFileSelected($event)"></file-uploader>
    <!-- <mat-form-field appearance="outline" >
      <mat-label (click)="fileInput.click()">Upload Certificate</mat-label>
      <mat-icon (click)="fileInput.click()" class="input-icon" matSuffix>{{ iconName }}</mat-icon>
    </mat-form-field> -->
    <label>Licensure</label>
    <div class="licensure">
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="License Number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="NPI Number">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input type="text" matInput placeholder="Expiration">
      </mat-form-field>
    </div>
    <button  mat-button class="bg-primary">Continue</button>
    <div class="terms-block">
      <mat-checkbox color="primary"></mat-checkbox>
      <p class="terms">I agree with <a href="/terms" class="link">terms</a> and <a href="/privacy" class="link">privacy</a></p>
    </div>
    </form>
    <div class="auth-footer">
      <p class="account-question">Already have an account?<a [routerLink]="['/auth/login']">LOGIN</a></p>
    </div>
  </div>

</div>
