<div class="auth-container">
  <div class="auth-header">
    <img src="/assets/images/logo.jpg" class="logo">
  </div>
  <div class="form-container">
    <div class="form-desc">
      <h2 class="form-title">Personal Info</h2>
    </div>
    <form class="form" (ngSubmit)="submit()">
      <mat-form-field appearance="outline">
        <mat-label>Specialization</mat-label>
        <mat-select>
          <mat-option *ngFor="let food of foods" [value]="food.value">
            {{food.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Desired Hourly Rate</mat-label>
      <input type="text" matInput>
    </mat-form-field>
    <file-uploader [label]="'Upload Certificate'" [iconName]="'add_circle'" (fileUrl)="onFileSelected($event)"></file-uploader>
    <!-- <mat-form-field appearance="outline" >
      <mat-label (click)="fileInput.click()">Upload Certificate</mat-label>
      <mat-icon (click)="fileInput.click()" class="input-icon" matSuffix>{{ iconName }}</mat-icon>
    </mat-form-field> -->
    <label>Licensure</label>
    <div class="row">
      <mat-form-field class="col-lg-4 col-md-5 col-sm-12" appearance="outline">
        <mat-label>License Number</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-5 col-sm-12" appearance="outline">
        <mat-label>NPI Number</mat-label>
        <input type="text" matInput>
      </mat-form-field>
      <mat-form-field class="col-lg-4 col-md-5 col-sm-12" appearance="outline">
        <mat-label>Expiration</mat-label>
        <input type="text" matInput>
      </mat-form-field>
    </div>
    <button  mat-button class="bg-primary">Create Account</button>
    </form>
    <div class="auth-footer">
      <p class="account-question">Already have an account?<a [routerLink]="['/auth/login']">LOGIN</a></p>
    </div>
  </div>

</div>
